.img {
    text-align: center;
    margin-bottom: 40px;
}

.food-img {
    display: inline-block;
    height: 210px;
    width: auto;
    margin-right:15px;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.overflow {
    text-align: center;
    overflow: auto;
    font-size: 24px;
    height: 100px;
}

