body{
  min-height: 95vh;
  margin: 0;
}

.nav-top {
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  color: brown;
  background-color: transparent;
  text-decoration: none;
}

#cadastro{
  font-weight: bold;
  color: red;
}

#logo {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.nav-top-buttons {
  margin-top: 40px;
  margin-right: 80px;
  float: right;
  text-align: center;
}

.navbar-bot {
  height: 50px;
}

.nav-buttons {
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}

.nav-logo {
  font-size: 72px;
}

#img_header {
  width: 100%;
}

.espaco {
  padding-top: 10px;
  padding-bottom: 40px;
  min-width:100%;
  min-height:100%;
  height: 100vh;
  width:auto;
}

footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
  z-index: 1;
}
